* {
  margin:0px;
  padding: 0px;

 }

.cf:before,
.cf:after {
 content:" ";
 display: table;
}

.cf:after{
  clear: both;
}
/* for IE 6/7 (trigger haslayout)*/

.clearfix{
  zoom:1;
}

.flex{
  max-width: 100%;
}

body {
  width: 1100px;
  background: #2D882D;
  margin: 0 auto;
}

#body-div {
  width: 960px;
  margin: 0 auto;
}

#fix-nav {

}
nav {
  width: 900px;
  margin: 3em auto;
  background: #805C15;
}
nav li {
  width: 30%;
  float: left;
  list-style-type: none;
  border: solid ridge 3px black;
  text-align: center;
  line-height: 3em;
  font-size: 150%;
}

#ad-div {
  width: 120px;
  text-align: center;
  margin: 17.5em auto;

}

#ad-section {
background: #AA3939;
display: block;
float: left;
width: 25%;
height:35em;
}



#sec-1 {
background: #116611;
}

#head-1 {
background: #88CC88;
}
#sec-2 {
background: #116611;
}

.mar-boxs{
  margin: 0 0 0 1%;
}

.body-articles {
background: #550000;
width: 22%;
display:block;
float: left;
margin-bottom: 4em;
padding: 1%;
}

#foot {
  float: right;
width: 77.08333333333333%;
background: #004400;
margin-right: 4.4em;
margin-bottom: 3em;
}
