* {
  margin:0px;
  padding: 0px;

 }

.cf:before,
.cf:after {
 content:" ";
 display: table;
}

.cf:after{
  clear: both;
}
/* for IE 6/7 (trigger haslayout)*/

.clearfix{
  zoom:1;
}

.flex{
  max-width: 100%;
}

body {
  max-width: 1100px;
  min-width: 741px;
  background: #DCDCDD;
  margin: 0 auto;
}

#body-div {
  width: 960px;
  margin: 0 auto;
  margin-top: 5em;
}

#fix-nav {

}
nav {
  position: fixed;
  z-index: 9999;
  width: 900px;
  margin-left: 6.5em;
  top: 0;
  left: 0;
  background: #805C15;
}
nav li {
  width: 33.3%;
  float: left;
  list-style-type: none;
  text-align: center;
  line-height: 3em;
  font-size: 150%;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #D4A06A;
}

#head-1 {
width: 74%;
margin-left: 1%;
float: right;
margin-bottom: 1em;
border-radius: 3px;
text-align: center;
}

#ad-div {
  width: 120px;
  text-align: center;
  margin: 17.5em auto;

}

#ad-section {
background: #A95486;
display: block;
float: left;
width: 25%;
height:35em;
}



#sec-1 {
background: #116611;
}

#head-1 {
background: #88CC88;
}
#sec-2 {
  background: #DCDCDD;
}

.mar-boxs{
  margin: 0 0 0 1%;
}

.body-articles {
background: #669999;
width: 22%;
display:block;
float: left;
margin-bottom: 4em;
padding: 1%;
}

#foot {
float: right;
width: 64%;
background: #172457;
margin-right: 4.4em;
margin-bottom: 3em;
text-align: center;
padding: 0.5%;
}




















@media only screen and (min-width: 500px) and (max-width: 740px)
 {

body {
  background: #DCDCDD;

}


nav {
  position: fixed;
  z-index: 9999;
  width: 80%;
  margin-left: 10%;
  top: 0;
  left: 0;
  background: #805C15;
}
nav li {
  width: 33.3%;
  float: left;
  list-style-type: none;
  text-align: center;
  line-height: 1.5em;
  font-size: 150%;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #D4A06A;
}

body {
  max-width: 740px;
  min-width: 500px;
}

#body-div {
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
}

#head-1 {
width: 100%;
margin-left: 1%;
margin-bottom: 1em;
border-radius: 3px;
text-align: center;
}

#ad-div {
display: none;

}

#ad-section {
display: none;
}



#sec-1 {
background: #116611;
}

#head-1 {
background: #88CC88;
}
#sec-2 {
  background: #DCDCDD;
}

.top-2-articles {
  width: 47.5%;
  margin: 0;
  margin-bottom: 3em;
  text-align: center;
}

#r-margin {
  margin-right: 0.5%;
}

#b-article {
display: block;
text-align: center;
float: none;
clear: both;
width: 98%;
margin-bottom: 3em;
margin-left: 0;
}

.body-articles {
background: #669999;
}

#foot {
  float: none;
width: 99%;
background: #172457;
margin-bottom: 3em;
text-align: center;
padding: 0.5%;
}












}
